@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../public/images/chatNoir.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 20px;
  color: #f8f3f3;
  font-family: "Manrope", sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cat-face {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cat-face img {
  max-width: 100%;
  border-radius: 50%;
}

.cat-face p {
  margin: 0;
  font-size: 1.5em;
  color: #f1efef;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.fetch-button {
  background-color: #12ccda;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Manrope", sans-serif;
}

.fetch-button:hover {
  background-color: #12cdda71;
}

.loading-text {
  color: white;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: #ccc;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: #12ccda;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .cat-card {
    width: 90%;
    padding: 15px;
    margin: 10px;
  }

  .fetch-button {
    width: 80%;
    padding: 8px 15px;
    font-size: 14px;
  }

  .cat-face p {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .cat-card {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
  }

  .fetch-button {
    width: 90%;
    padding: 6px 10px;
    font-size: 20px;
  }

  .cat-face p {
    font-size: 0, 2em;
  }
  .header {
    font-size: 1em;
  }
}
